/* Footer */
.footer-top {
  background: #191f23;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px 0 15px 0;
  position: relative;
  z-index: 2;

  &::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: rgba($color: #0A1128, $alpha: .7);
  }
}
.footer-line {
  position: relative;
}
.footer-bottom {
  background-color: #191f23;
  font-size: 14px;
  border-top: 1px solid #303639;
  padding: 0;
}
.footer-bottom ul {
  margin: 0;
}
.footer-bottom a {
  padding: 0 4px;
  color: #999;
}
.footer-title {
  margin: 0;
  font-size: 19px;
  font-weight: 500;
  padding-bottom: 17px;
  margin-bottom: 40px;
  position: relative;
  color: #fff;
  
  @include devices(xs) {
    font-size: 18px;
    padding-bottom: 14px;
  }
}
.footer-title:after {
  content: "";
  background: $main;
  width: 40px;
  height: 2px;
  position: absolute;
  bottom: 0;
  @include dir-left(0);
}

.widget_about .logo{
  max-height: 80px;
  display: block;
  margin-bottom: 18px;
  border-radius: 5px;
}
.widget_about p {
  margin-bottom: 20px;
  width: calc(100% - 60px);

  @media screen and (max-width: $screen-xs) {
    width: 100%;
  }
}
.widget p {
  color: $white;
}
.widget_about a {
  color: $main;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
.list-2 li {
  width: 50%;
  float: left;
  padding: 0 0 12px 0;
  font-size: 16px;
}
.list-2 li:before {
  content: none;
}
.list-2 li a {
  text-decoration: underline;
  color: $white;

  @include devices(xs) {
    font-size: 14px;
  }
}
.widget_subscribe p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 28px;
}
.widget.widget_about p {
  font-size: 15px;
  line-height: 28px;

  @include devices(xs) {
    font-size: 14px;
  }
}
.widget_subscribe .input-group .form-control {
  height: 60px;
  border-radius: 4px 0px 0px 4px;
  border: 0;
  padding: 10px 30px;
}
.widget_subscribe .input-group .input-group-addon .site-button {
  height: 60px;
  border-radius: 0 4px 4px 0;
  font-size: 18px;
  padding: 15px 25px;
}
.widget_subscribe .input-group .input-group-addon {
  padding: 0;
  border: 0;
  background: transparent;
}
.footer-bottom-in {
  display: flex;
  justify-content: space-between;
}
.footer-bottom-in .footer-bottom-logo a img {
  height: 50px;
}
.footer-bottom-in .footer-bottom-logo a {
  display: inline-block;
  background: var(--color-primary);
  padding: 10px 20px;
}
.footer-bottom-in .dlab-social-icon li:first-child a {
  border-left: 1px solid #303639;
}
.footer-bottom-in .dlab-social-icon li a {
  padding: 0;
  width: 60px;
  height: 70px;
  font-size: 20px;
  color: #3b4044;
  border-right: 1px solid #303639;
  line-height: 70px;
}

.social_footer {
  display: flex;
  align-items: center;
  gap: 7px;

  .social {
    @include center;
    @include circle(40px);
    font-size: 15px;
    color: $white;
    background: $main;
    border: 1px solid $main;
    transition: $main-transition;

    i{
      transition: $main-transition;
    }

    &:hover {
      color: $white !important;
      // background-color: $white;
      
      i{
        transform: rotate(360deg);
        color: $white !important;
      }
    }
  }
}

.copy-right {
  @include center;
  border-top: 1px solid rgba($color: #b0b0b0, $alpha: 0.4);
  padding-top: 15px;
  background-color: transparent;
  font-size: 15px;
  color: #b0b0b0;
  gap: 3px;
  margin-top: 25px;

  @media screen and (max-width: $screen-xs) {
    font-size: 14px;
    padding: 12px;
  }

  a {
    color: $sec;
    text-decoration: underline;
  }
}
