@import "sass/variables", "sass/mixins", "sass/global", "sass/components",
  "sass/navbar", "sass/footer";

/********************* Start Slider section *********************/

.home-sec {
  position: relative;
  .home-item {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    min-height: 600px;
    // padding-top: 100px;

    @media screen and (max-width: $screen-lg) {
      height: 100vh;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #0A1128, $alpha: .5);
      // background: linear-gradient(0, rgba(0, 0, 0, .6), rgba($color: $main, $alpha: 0.5) 100%);
      z-index: -1;
    }

    .home-img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
    }

    .content {
      width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-inline: auto;
      gap: 25px;

      @media screen and (max-width: $screen-sm) {
        width: 100%;
      }

      .title {
        font-size: 24px;
        color: $white;

        @media screen and (max-width: $screen-sm) {
          font-size: 22px;
        }

        @media screen and (max-width: $screen-xs) {
          font-size: 20px;
        }
      }

      .desc {
        font-size: 16px;
        color: $white;
        text-align: center;

        @media screen and (max-width: $screen-xs) {
          font-size: 15px;
        }
      }

      .main-btn {
        width: fit-content;
      }
    }
  }

  .owl-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    @include center;
    gap: 7px;
    margin-top: 25px;

    .owl-dot {
      @include circle(20px);
      position: relative;
      transition: $main-transition;
      background-color: rgba($color: #000000, $alpha: 0.3);

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include circle(5px);
        background-color: $white;
      }

      &.active {
        background-color: rgba($color: $sec, $alpha: 0.6);
      }
    }
  }

}

.elementor-shape {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
  bottom: -1px;
  z-index: 20;
  transform: rotate(180deg);

  svg {
    height: 40px;
    display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  &.top{
    top: -72px;
    bottom: unset;
    
    svg{
      height: 75px;
    }
  }
}

/********************* End Slider section *********************/


/********************* Start About section *********************/

.about-content {
  display: flex;
  align-items: center;
  gap: 60px;

  @media screen and (max-width: $screen-lg) {
    flex-direction: column;
  }

  .about-img {
    width: 360px;
    height: 400px;
    position: relative;
    flex-shrink: 0;
    box-shadow: $main-shadow;
    border: 5px solid $white;
    border-radius: 7px;

    @media screen and (max-width: $screen-xs) {
      width: 325px;
      height: 380px;
    }

    @media screen and (max-width: $screen-xxs) {
      width: 290px;
      height: 340px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 25px;
      @include dir-left(-25px);
      width: calc(100% + 50px);
      height: calc(100% - 50px);
      border: 6px solid $main;
      z-index: -1;
      border-radius: 7px;
    }

    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    .main-title {
      margin-bottom: 18px;
    }

    .text {
      color: #101010;
      font-size: 16px;
      line-height: 1.8;
      margin-bottom: 18px;

      @include devices(xs) {
        font-size: 14px;
      }
    }

    .main-btn {
      max-width: fit-content;
    }
  }
}

/********************* End About section *********************/

/********************* Start Before Crads section *********************/

.before_cards {
  padding: 60px 0 10px;
  position: relative;
  z-index: 2;

  .content {
    @media screen and (max-width: $screen-sm) {
      width: fit-content;
    }

    .text {
      font-size: 16px;
      color: $main;
      // margin: 18px 0;
      line-height: 1.7;

      @media screen and (max-width: $screen-sm) {
        font-size: 14px;
      }
    }
  }
}

/********************* End Before Crads section *********************/

/********************* Start services-card section *********************/
.main-cards {
  position: relative;
  z-index: 3;
}

.services-card {
  position: relative;
  height: 430px;
  border-radius: 10px;
  overflow: hidden;

  &::after{
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF00 0%, #0A1128 100%);
    opacity: 1;
  }

  .service-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 600ms linear;
  }

  .service-content {
    position: absolute;
    // padding: 50px 35px 35px;
    transition: all 0.4s ease-in-out;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 25px;
    z-index: 2;

    .service-name {
      color: $white;
      font-size: 18px;
      margin-bottom: 15px;
      line-height: 1.4;
      font-weight: 600;
    }

    .desc {
      font-size: 14px;
      color: $white;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .main-btn {
      overflow: hidden;
      transition: all 0.4s ease-in-out;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      bottom: 35px;
      margin-top: 0;
      transform: translateY(100%);
    }

    svg {
      position: absolute;
      width: 137px;
      top: -70px;
      @include dir-right(35px);
      color: #e7e7e7;
      transition: all 0.31s ease-in-out;
    }
  }

  &:hover {
    .service-img {
      filter: grayscale(1) !important;
      transform: scale(1.2) rotate(3deg);
    }
  }
}

.services-slider {
  .owl-item {
    .services-card {
      .service-icon {
        &::before {
          display: none;
        }
      }
    }
  }

  .owl-nav {
    position: absolute;
    top: -80px;
    display: flex;
    gap: 7px;
    width: fit-content;
    @include dir-right(0);

    @include devices(xs) {
      display: none;
    }

    .owl-next,
    .owl-prev {
      width: 40px;
      height: 40px;
      @include center;
      border: 1px solid $main !important;
      background-color: $white !important;
      color: $main !important;
      font-size: 15px !important;
      transition: $main-transition;

      &:hover {
        background-color: $main !important;
        color: $white !important;
      }
    }
  }
}

/********************* End services-card section *********************/

/********************* Start After Crads section *********************/
.after_cards{
  height: 300px;
  background-color: #f4f4f4;
  position: relative;
  z-index: -1;
  margin-top: -200px;
  // margin-bottom: 160px;
}
/********************* Start After Crads section *********************/

/********************* Start gallary section *********************/
.gallary {
  gap: 30px;

  @media screen and (max-width: $screen-xs) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 15px;
  }

  .gallary-item {
    height: 280px;
    position: relative;

    @media screen and (max-width: $screen-xs) {
      height: 195px;
    }

    &::after {
      position: absolute;
      content: "";
      z-index: 2;
      top: 0;
      left: 0;
      transition: $main-transition;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.6);
      opacity: 0;
    }

    .fancybox-img {
      background-color: transparent;
      border: 1px solid $white;
      @include circle(40px);
      @include center;
      color: $white;
      font-size: 15px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      position: absolute;
      bottom: 20px;
      @include dir-left(15px);
      z-index: 3;
      opacity: 0;

      &:hover {
        background-color: $main;
        color: $white;
        border-color: $main;
      }
    }

    .gallary-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      &::after {
        opacity: 1;
      }

      .fancybox-img {
        opacity: 1;
      }
    }
  }
}
/********************* End gallary section *********************/

/********************* start Contact section *********************/
.map {
  width: 100%;
  height: 450px;
}

// .contact-sec {
//   // margin-top: -150px;
//   margin-bottom: 100px;

//   @media screen and (max-width: $screen-xs) {
//     margin-bottom: 60px;
//   }
// }

.contact-style {
  height: 100%;
  background-color: $white;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 12px;
  padding: 50px;
  border-radius: 10px;

  @media screen and (max-width: $screen-sm) {
    padding: 30px 20px;
  }
}

.contact-title {
  font-size: 17px;
  font-weight: 600;
  color: $black;
  margin-bottom: 10px;

  @media screen and (max-width: $screen-xs) {
    font-size: 15px;
  }
}

.contact-info {
  font-size: 14px;
  color: $black;
  margin-bottom: 35px;
  line-height: 1.7;

  @media screen and (max-width: $screen-xs) {
    font-size: 13px;
  }
}

.contact-box {
  display: flex;
  column-gap: 20px;
  align-items: center;
  margin-bottom: 25px;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 25px;

  &:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .ic {
    background: #f4f4f4;
    color: $main;
    line-height: 1;
    width: 64px;
    height: 64px;
    @include center;
    font-size: 18px;
    flex-shrink: 0;
  border-radius: 10px;


    @media screen and (max-width: $screen-sm) {
      width: 50px;
      height: 50px;
    }
  }

  .box-content {
    .name {
      display: block;
      font-size: 16px;
      margin-bottom: 10px;
      line-height: 1.4;

      @media screen and (max-width: $screen-xs) {
        font-size: 15px;
        margin-bottom: 6px;
      }
    }

    .desc {
      font-size: 14px;
      color: $sec;
      line-height: 1.5;

      @media screen and (max-width: $screen-xs) {
        font-size: 15px;
      }
    }
  }
}

/********************* End Contact section *********************/